<div class="sidebar">
<mat-list-card class="bar">
  <div class="profile-card">
    <div class="header">
      <h2> Mamadou SYLLA</h2>
      <h4> mamadousylla@gmail.com </h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  </div>
  <mat-divider></mat-divider>


  <div class="list-group-item  link">
    <ul>
      <!--<li>
         <a mat-list-item routerLinkActive="list-item-active" routerLink="dashbord">Dashbord</a>
      </li>-->
      <li>
         <a mat-list-item routerLinkActive="list-item-active" routerLink="profile">Listes des profil<mat-icon id="icon_1">list</mat-icon></a>
      </li>
      <li>
         <a mat-list-item routerLinkActive="list-item-active" routerLink="admin">Listes des users<mat-icon id="icon_2">list</mat-icon></a>
      </li>
      <li>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="#">CM</a>
      </li>
      <li>
         <a mat-list-item routerLinkActive="list-item-active" routerLink="#">Formateur</a>
      </li>
      <li>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="">Apprenant</a>
      </li>
      <li>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="">Apprenant</a>
      </li>
      <li>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="">Apprenant</a>
      </li>
    </ul>
  </div>
  <mat-divider></mat-divider>


</mat-list-card>

</div>


































