table
{
  width: 100%;
}
.outer
{
  font-family: 'Salsa';
  font-size: 25px;
  background-color: #34936e;
  color: white;
  margin: 10px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.btn-btn{
  color:white;
  border: none;
  border-radius: 2px;
}
.btn_1{
  background-color: #25255c;
}
.btn_2{
  background-color: #e5a226;
}
.btn_3{
  background-color: #bf1616;
}

