footer
{
  padding: 10px;
  background-color: #34936e;
  font-size: 20px;
  font-family: Salsa;
}
.footer-logo
{
  background-image: url("../../../../assets/images/academy.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
  float: right;
  margin-top: -70px;
}
.footer-name
{
  margin-left: 80%;
}
.footer{
  margin-top: 40px;
  margin-left: 75%;
}
h2{
  color: white;
}
