<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="../src/assets/js/script.js"></script>
<div class="item">
    <div class="title">
      <h1>AJOUTER UN UTILISATEUR</h1>
    </div>
    <form #f="ngForm" name="userPost" (ngSubmit)="onSubmit()">
          <div class=" form-group  col-md-6">
              <label for="inputPrenom">Prénom</label>
              <input type="text" class="form-control" id="inputPrenom" placeholder="Tyson" matInput name="prenom" [(ngModel)]="userPost.prenom" [errorStateMatcher]="matcher" required>
              <!--<mat-error *ngIf="emailFormControl.hasError('required')">Prénom est <strong>obligatoire</strong></mat-error>-->
          </div>
          <div class="form-group col-md-6">
              <label for="inputNom">Nom</label>
              <input type="text" class="form-control" id="inputNom" placeholder="Mike" matInput name="nom" [(ngModel)]="userPost.nom" [errorStateMatcher]="matcher" required>
            <!--<mat-error *ngIf="emailFormControl.hasError('required')">Nom est <strong>obligatoire</strong></mat-error>-->
      </div>
      <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="miketyson@gmail.com" matInput name="email" [(ngModel)]="userPost.email" [errorStateMatcher]="matcher" required>
        <!--<mat-error *ngIf="emailFormControl.hasError('required')">Email est <strong>obligatoire</strong></mat-error>-->
  </div>
  <div class="form-group col-md-6">
      <label for="inputPwd">Password</label>
      <input type="password" class="form-control" id="inputPwd" placeholder="Password" matInput name="password" [(ngModel)]="userPost.password" [errorStateMatcher]="matcher" required>
    <!--<mat-error *ngIf="emailFormControl.hasError('required')">Confirmer votre <strong> mot de passe</strong></mat-error>-->
</div>
<div class="form-group col-md-6">
   <label for="inputCpwd">Confirmation Password</label>
   <input type="password" class="form-control" id="inputCpwd" placeholder="Confirmer password" matInput name="cpassword" [(ngModel)]="userPost.cpassword" [errorStateMatcher]="matcher" required>
  <!--<mat-error *ngIf="emailFormControl.hasError('required')">Confirmer votre <strong> mot de passe</strong></mat-error>-->
</div>
<div class="form-group col-md-6">
<label for="inputPhone">Téléphone</label>
<input type="text" class="form-control" id="inputPhone" placeholder="+221 77 777 77 77" matInput name="telephone" [(ngModel)]="userPost.telephone" [errorStateMatcher]="matcher" required>
  <!--<mat-error *ngIf="emailFormControl.hasError('required')">Téléphone est <strong>obligatoire</strong></mat-error>-->
</div>
<div class="form-group col-md-6">
<div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Avatar</label>
</div>
</div>
<div class="form-group col-md-6 ">
  <mat-dialog-actions>
  <button type="submit" name="envoyer" class="btn btn-success envoyer">Envoyer</button>
<button type="button" mat-dialog-close class="btn btn-danger annuler">Annuler</button>
    </mat-dialog-actions>
</div>
</form>
</div>

